// Variables //
$black-fh: 50px;
$black-lh: 60px;
$spacer: 15px;


$header-fs: 40px;
$header-lh: 48px;


$text-fs: 20px;
$text-lh: 32px;


$footer-text-fs: 20px;
$footer-text-lh: 34px;


$form-fs: 14px;
$form-lh: 20px;


$footer-links-fs: 15px;
$footer-links-lh: 22.5px;

// Colors //

$primary-color:#333333;
$secondary-color:#747474;
$accent-color: #CF2C28;

// Mobile Variables //

$mobile-black-fh: 34px;
$mobile-black-lh: 40.8px;


$mobile-header-fs: 30x;
$mobile-header-lh: 36px;


$mobile-text-fs: 20px;
$mobile-text-lh: 32px;

// Typography //

$font-stack: 'Lato', sans-serif;

